<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Blog</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      line-height: 1.6;
      background-color: #f0f2f5;
    }

    
    .blog-form {
      max-width: 800px;
      margin: 0 auto;
      padding: 2rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      margin-top: 10rem;
      border-radius: 5px;
    }

    .blog-form input[type="text"],
    .blog-form textarea {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 8px;
      font-size: 16px;
      margin-bottom: 16px;
    }

    .blog-form button {
      background-color: #356182;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      font-size: 16px;
      cursor: pointer;
    }

    .blog-form button:hover {
      background-color: #0171d3;
    }

  
  </style>
</head>

<body>
  <header>
    <%- include('Navbar.ejs')%>
   
  </header>

  <div class="blog-form">
    <form action="/edit/<%- blogEdit[0].id %>" method="post" >
      <!-- <input type="text" name="name" placeholder="Your Name" required> -->
      <input type="text" name="title" value="<%- blogEdit[0].title %>" placeholder="Blog Post Title" required>
      <textarea name="description"  placeholder="Blog Post Description" required><%- blogEdit[0].description %></textarea>
      <input type="file"  value="<%- blogEdit[0].image %>" />
      <button type="submit">Update</button>
    </form>
  </div>

  
</body>
<%- include('footer.ejs')%>
</html>
